// Put any @imports here
// See Readme for a list of supported ones
@import 'foundation';
.container{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
ul{
  list-style: none;
}
body {
  background: #e2ebf3;
}
.login{
  width: 50%;
  margin: 0 auto;
}


.builder{
  width: 40%;
  float: left;
  margin-left: 2.5%;
  margin-top: 25px;
}
.recipe{
  width: 40%;
  float: right;
  margin-right: 2.5%;
  margin-top: 25px;
}
footer{
  clear: both;
  text-align: center;
}