<h2>{{recipe.name.name.name}}</h2>
<h4>{{recipe.style.style.style}}</h4>
<span>{{recipe.style.og}}</span><br>
<a href="#/edit/{{recipe.objectId}}">Edit This Recipe</a>
<button ng-click="basic()">Delete Recipe
</button>

    <div ng-init="x = 5">
      <rating value="x" max="15" state-on="'fa-star'" state-off="'fa-star-o'"></rating>
    </div>

<hr>
<h4>Grains</h4>
<ul>
  <li ng-repeat="t in recipe.grains" class="loadNum">
      {{t.weight}}lb {{t.grain}}
  </li>

</ul>
<hr>
<h4>Hops</h4>
<ul>
  <li ng-repeat="t in recipe.hops" class="loadNum">
    {{t.weight}}oz of {{t.name}} ({{t.acid}}%), {{t.boil}} minutes
  </li>
</ul>
<hr>
<h4>Yeast</h4>
<ul>
  <li ng-repeat="t in recipe.yeast" class="loadNum">
    {{t.name}}
  </li>
</ul>
<div class="comments loadNum">
<hr>
  <h4>Additives, Adjuncts, and Comments</h4>
  <p>{{recipe.comments.comments.comment}}</p>
</div>